*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    margin: auto;
} */

body {
    margin: auto;
}
body, button {
    font-family: "Open Sans";
    font-weight: 400, 700;
}

.top {
    padding: 8em;
    padding-left: 4em;
    /* width: 100%; */
    background-image: url("images/bg-hero-desktop.svg");
    /* background-size: contain; */
    background-color: hsl(193, 100%, 96%);
    display: grid;
    grid-template-areas:
    'l l m m' 
    'g g h h'
    'g g h h';
    gap: 30px;
}

.ttl {
    grid-area: l;
}

.ttr {
    grid-area: m;
    /* padding: 1em; */
    text-align: right;
}

.top p {
    margin-top: 23px;
}

.top-l {
    margin-top: 4.5em;
    grid-area: g;
}
.top-r {
    grid-area: h;
    text-align: right;
}

.top-btn {
    margin-top: 0;
    background-color: white;
    color: black;
    box-shadow: 0px 2px 4px 4px rgba(176, 164, 164, 0.1);
}

.top-btm {
    margin-left: 50px;
    background-color: white;
    width: 35%;
    height: 150px;
    padding-top: 2em;
    /* margin: auto; */
    text-align: center;
    transform: translate(80%,40%);
    /*work on the position of div when size changes*/
    box-shadow: 2px 2px 3px 6px rgba(176, 164, 164, 0.1);
    border-radius: 4px;
}

.middle {
    /* grid-area: b; */
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 5em;
    padding-bottom: 10em;
    display: grid;
    grid-template-areas: 
    'd '
    'e '
    'f ';
    gap: 35px;
}

.mid-a {
    grid-area: d;
    border-radius: 6px;
    /* padding-left: 4em; */
    padding: 3em;
    box-shadow: 2px 2px 3px 6px rgba(176, 164, 164, 0.1);
    /* 1px 1px 1px 5px; */
    display: flex;
}
.mid-b {
    display: flex;
    grid-area: e;
    border-radius: 6px;
    padding: 3em;
    box-shadow: 2px 2px 3px 6px rgba(176, 164, 164, 0.1);
}
.mid-c {
    grid-area: f;
    border-radius: 6px;
    padding: 3em;
    box-shadow: 2px 2px 3px 6px rgba(176, 164, 164, 0.1);
    display: flex;
}

button {
    margin-top: 20px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 20px;
    height: 38px;
    width: 200px;
    border: none;
}

.mid-al {
    margin: auto;
    padding-left: 4%;
    grid-area: ml;
}
.mid-ar {
    text-align: right;
    grid-area: mr;
}

.mid-br {
    margin: auto;
    grid-area: ml;
}
.mid-bl {
    padding-right: 10%;
    padding-left: 4%;
}

.mid-cl {
    margin: auto;
    padding-left: 4%;
}
.mid-cr {
    text-align: right;
}

h1, h2, h3 {
    font-family: "Poppins";
    font-weight: 600;
}
p{
    margin-top: 10px;
}

.mid-al, .mid-ar, .mid-bl, .mid-br, .mid-cl, .mid-cr {
    width: 100%;
}

.bottom {
    grid-area: c;
    padding: 10em;
    padding-left: 3em;
    padding-right: 2em;
    background-color:hsl(192, 100%, 9%);
    display: grid;
    grid-template-areas: 
    's s s s'
    'u v w z'; /*add column for icons*/
    /* use display grid */
    color: white;
}
.blg {
    grid-area: s;
    /* padding: 1em; */
    padding-left: 3.8em;
}
.bl {
    /* width: 30%; */
    padding: 3em;
    grid-area: u;
    display: inline;
}
.bl-c {
    /* width: 15%; */
    grid-area: v;
    padding: 3em;
}
.br-c {
    /* width: 15%; */
    grid-area: w;
    padding: 3em;
}
.br {
    /* width: 30%; */
    grid-area: z;
    padding: 3em;
}

a {
    text-decoration: none;
    color: white;
}
.fa {
    border: 1px solid white;
    margin: 5px 3px;
    /* font-size: 30px; */
    width: 40px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

.end {
    padding-top: 80px;
}

.phone {
    display:flex;
    padding-bottom: 20px;
}
.email {
    display: flex;
    padding-bottom: 20px;
}
.location {
    display: flex;
    padding-bottom: 20px;
}
.phone-p, .phone-i, .email-i, .email-p, .loc-i, .loc-p {
    padding-left: 15px;
}

.b-svg {
    /*change svg to white*/
    filter: brightness(0) invert(1);
}

.started:hover {
    background-color: #ff9bdb;
}
.top-btn:hover {
    color: gray;
}

@media screen and (max-width: 375px) {
    body {
        /* margin: auto; */
        width: 140%;
    }
    .top {
        /* width: 100%; */
        padding: 8em;
        padding-left: 1em;
        /* padding-right: 8em; */
        /* margin: auto; */
        /* padding: 4em; */
        background-image: url("images/bg-hero-mobile.svg");
        /* background-size: contain; */
        /* background-color: hsl(193, 100%, 96%); */
        display: grid;
        grid-template-areas: 
        'l m'
        'g g'
        'h h';
        gap: 30px;
    }
    
    .ttl {
        grid-area: l;
    }
    .ttr {
        grid-area: m;
        /* padding-right: 2em; */
    }
    .top-l{
        grid-area: g;
        align-content: center;
        text-align: center;
        padding: 2em;
    }
    .top-r {
        grid-area: h;
    }
    .top-r img {
        width: 470px;
    }

    .middle {
        padding-left:3.5em;
        /* align-content: center; */
    }

    .mid-a {
        display:grid;
        grid-template-areas: 
        'al'
        'ar';
    }
    .mid-al {
        grid-area: ar;
        /* order: 2; */
    }
    .mid-ar {
        grid-area: al;
        /* order: 1; */
    }
    .mid-b {
        display: block;
    }
    .mid-c {
        display:grid;
        grid-template-areas: 
        'cl'
        'cr';
    }
    .mid-cl {
        grid-area: cr;
    }
    .mid-cr {
        grid-area: cl;
    }

    .top-btm {
        margin-left: 17px;
        background-color: white;
        width: 92.1%;
        height: 150px;
        padding-top: 2em;
        /* margin: auto; */
        text-align: center;
        transform: translate(0em,40%);
        /*work on the position of div when size changes*/
        box-shadow: 2px 2px 3px 6px rgba(176, 164, 164, 0.1);
        border-radius: 15px;
    }
    .bottom {
        display: block;
        /* margin-bottom: 0; */
        padding-bottom: 0;
        padding-left: 1em;
        /* margin-right: 0; */
    }
    .br {
        padding-top: 0px;
        text-align: center;
    }
    .email {
        padding-bottom: 0px;
    }
    .email {
        padding-bottom: 0px;
    }
    .blg {
        padding-left: 1em;
    }
    .bl-c {
        /* margin-top: 0; */
        padding-top: 0px;
        padding-left: 1em;
        padding-bottom: 0px;
        /* margin-top: 0; */
    }
    .br-c {
        padding-top: 0px;
        padding-left: 1em;
        /* padding-bottom: 0px; */
    }
    .end {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
}

@media screen and (max-width: 1440px) {
    .top {
        display: grid;
        grid-template-columns: 
        'l l m m'
        'g g h h'
        'g g h h';
    }
}
